<<<<<<< HEAD
@tailwind base;
@tailwind components;
@tailwind utilities;
=======
/* Tailwind directives */
tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: black;
}

.dark body {
  background-color: #1a202c;
  color: white;
}
>>>>>>> 09f2551 (initial commit)
